<div class="buttons">
  <button
    mat-raised-button
    (click)="loadAllRequested.emit()"
    style="margin-right:10px;"
  >
    Load All</button
  ><button mat-raised-button (click)="loadCategoryRequested.emit('nerdy')">
    Load Nerdy
  </button>
</div>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!loading">
  <div class="jokes-list" *ngIf="jokes">
    <app-joke-card-item
      *ngFor="let joke of jokes"
      [joke]="joke"
    ></app-joke-card-item>
  </div>

  <div *ngIf="!jokes">No jokes found</div>
</div>
<br />
<div class="error" *ngIf="error">ERROR: {{ error }}</div>
